Repository layer5io/layer5-academy, pull requests merged in 2025-08, with the labels that each got.

#48 Update README.md
  README.md
Labels: area/challenges, area/learning-paths

#66 [Automated] Update academy-theme to v0.2.3
  go.mod
  go.sum
Labels: pr/dependencies, area/challenges, area/learning-paths

#68 Fix: Design Embeddings
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/design-interpretation/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/design-interpretation/embedded-design-deployment-service.js
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/edge-stack-configuration/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/edge-stack-configuration/embedded-design-edge-stack.js
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/introduction/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/introduction/embedded-design-edge-stack.js
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-dapr-control-plane/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-dapr-control-plane/embedded-design-dapr-crds.js
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-dapr-control-plane/embedded-design-dapr-deployments.js
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-dapr-control-plane/embedded-design-dapr-roles.js
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-dapr-control-plane/embedded-design-dapr.js
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-dapr-statestore-component/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-dapr-statestore-component/embedded-design-statestore.js
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-python-and-nodejs-application/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-python-and-nodejs-application/embedded-design-node-application.js
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-python-and-nodejs-application/embedded-design-python-application.js
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-redis/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-redis/embedded-design-redis.js
Labels: area/challenges, area/learning-paths

#70 [Automated] Update academy-theme to v0.2.5
  go.mod
  go.sum
Labels: pr/dependencies, area/challenges, area/learning-paths

#84 Minor Improvement , missing space in LearningPath :
  content/_index.md
Labels: area/challenges, area/learning-paths

#93 Use correct Learning Path name
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advanced-concepts-of-service-meshes/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advanced-concepts-of-service-meshes/conclusion/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advanced-concepts-of-service-meshes/deploy-an-application/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advanced-concepts-of-service-meshes/expose-services/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advanced-concepts-of-service-meshes/getting-started/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advanced-concepts-of-service-meshes/observability/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advanced-concepts-of-service-meshes/service-security-capabilities/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advanced-concepts-of-service-meshes/webassembly-and-intelligent-data-planes/_index.md
Labels: area/challenges, area/learning-paths

#94 Fix: consistency of the ISSUE_TEMPLATE across 5 Academy-related repos
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/ci.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: area/challenges, area/learning-paths

#97 Update _index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/_index.md
Labels: area/challenges, area/learning-paths

#98 [Automated] Update academy-theme to v0.2.6
  go.mod
  go.sum
Labels: pr/dependencies, area/challenges, area/learning-paths

#100 Digital Ocean Challenge 'How to Add Volumes to Kubernetes Clusters'
  content/challenges/11111111-1111-1111-1111-111111111111/how-to -add-volumes-to-kubernetes-clusters/_index.md
  content/challenges/11111111-1111-1111-1111-111111111111/how-to -add-volumes-to-kubernetes-clusters/exam.md
  static/11111111-1111-1111-1111-111111111111/images/digitalocean.svg
Labels: area/challenges, area/learning-paths

#102 Test For Course - Mastering Kubernetes for Engineers/Explore Dapr with Meshery
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/test.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/scalable-postgres-with-cloudnativepg/test.md
Labels: area/challenges, area/learning-paths

#104 [Automated] Update academy-theme to v0.2.7
  go.mod
  go.sum
Labels: pr/dependencies, area/challenges, area/learning-paths

#83 Create Tests and Quizzes for Layer5 Academy
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/conclusion/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/design-interpretation/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/edge-stack-configuration/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/introduction/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/test.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/deploying-wordpress-and-mysql-with-persistent-volumes-with-meshery/conclusion/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/deploying-wordpress-and-mysql-with-persistent-volumes-with-meshery/configure-components/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/deploying-wordpress-and-mysql-with-persistent-volumes-with-meshery/deploy/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/deploying-wordpress-and-mysql-with-persistent-volumes-with-meshery/group-components/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/deploying-wordpress-and-mysql-with-persistent-volumes-with-meshery/import-designs/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/deploying-wordpress-and-mysql-with-persistent-volumes-with-meshery/introduction/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/deploying-wordpress-and-mysql-with-persistent-volumes-with-meshery/test.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/deploying-wordpress-and-mysql-with-persistent-volumes-with-meshery/visualize/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/conclusion/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-dapr-control-plane/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-dapr-statestore-component/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-python-and-nodejs-application/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/deploy-redis/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/introduction/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/test.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/view-application-logs/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/scalable-postgres-with-cloudnativepg/introduction/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/scalable-postgres-with-cloudnativepg/test.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/introduction-to-meshery/configuring-meshery/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/introduction-to-meshery/creating-designs/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/introduction-to-meshery/deploying-meshery-designs/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/introduction-to-meshery/interpreting-meshery-designs/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/introduction-to-meshery/meshery-concepts/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/introduction-to-meshery/reviewing-designs/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/introduction-to-meshery/test.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/introduction-to-meshery/using-workspaces-effectively/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advance-concepts-of-service-meshes/deploy-an-application/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advance-concepts-of-service-meshes/expose-services/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advance-concepts-of-service-meshes/getting-started/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advance-concepts-of-service-meshes/observability/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advance-concepts-of-service-meshes/service-security-capabilities/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advance-concepts-of-service-meshes/test.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advance-concepts-of-service-meshes/webassembly-and-intelligent-data-planes/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-istio/circuit-breaking/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-istio/deploy-an-application/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-istio/expose-services/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-istio/fault-injection/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-istio/getting-started/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-istio/mutual-tls/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-istio/observability/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-istio/routing-and-canary/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-istio/test.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-linkerd/dashboard/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-linkerd/debugging/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-linkerd/deploy-an-application/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-linkerd/expose-services/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-linkerd/fault-injection/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-linkerd/getting-started/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-linkerd/observability/quiz.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-linkerd/test.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-linkerd/traffic-splitting/quiz.md
Labels: area/challenges, area/learning-paths

#105 Update banner path
  content/challenges/11111111-1111-1111-1111-111111111111/cncf-auto-scaling-challenge/_index.md
  content/challenges/11111111-1111-1111-1111-111111111111/cncf-auto-scaling-challenge/keda-icon.svg
  content/challenges/11111111-1111-1111-1111-111111111111/cncf-observability-challenge-with/_index.md
  content/challenges/11111111-1111-1111-1111-111111111111/cncf-observability-challenge-with/jaeger-icon-black.svg
  content/challenges/11111111-1111-1111-1111-111111111111/how-to -add-volumes-to-kubernetes-clusters/_index.md
  content/challenges/11111111-1111-1111-1111-111111111111/how-to -add-volumes-to-kubernetes-clusters/digitalocean.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/ci-cd/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/ci-cd/sre-k8s.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/iac/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/iac/sre-k8s.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/introduction-to-cloud/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/introduction-to-cloud/sre-k8s.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/introduction-to-containers-and-kubernetes/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/introduction-to-containers-and-kubernetes/sre-k8s.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/introduction-to-devops-and-sre/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/introduction-to-devops-and-sre/sre-k8s.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/introduction-to-observability/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/introduction-to-observability/sre-k8s.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/introduction/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/introduction/sre-k8s.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/sre-k8s.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/sre/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/introduction-to-devops-and-site-reliability-engineering/sre/sre-k8s.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/ambassador-edge-stack-api-gateway-with-meshery/linkerd-icon-white.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/deploying-wordpress-and-mysql-with-persistent-volumes-with-meshery/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/deploying-wordpress-and-mysql-with-persistent-volumes-with-meshery/linkerd-icon-white.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/explore-dapr-with-meshery/linkerd-icon-white.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/kubernetes-icon.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/scalable-postgres-with-cloudnativepg/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-kubernetes-for-engineers/scalable-postgres-with-cloudnativepg/linkerd-icon-white.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/introduction-to-meshery/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/introduction-to-meshery/kubernetes-icon.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/meshery-logo-light.webp
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advanced-concepts-of-service-meshes/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/advanced-concepts-of-service-meshes/istio-icon-white.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-istio/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-istio/istio-icon-white.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-linkerd/_index.md
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/introduction-to-service-meshes-linkerd/linkerd-icon-white.svg
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-service-meshes-for-developers/service-mesh.svg
Labels: pr/on hold, area/challenges, area/learning-paths

#108 remove digital ocean challenge
  content/challenges/11111111-1111-1111-1111-111111111111/how-to -add-volumes-to-kubernetes-clusters/_index.md
  content/challenges/11111111-1111-1111-1111-111111111111/how-to -add-volumes-to-kubernetes-clusters/digitalocean.svg
  content/challenges/11111111-1111-1111-1111-111111111111/how-to -add-volumes-to-kubernetes-clusters/exam.md
  content/challenges/11111111-1111-1111-1111-111111111111/how-to -add-volumes-to-kubernetes-clusters/lab.md
Labels: area/challenges, area/learning-paths

#99 Certification content from 'explore dapr with meshery' course
  content/certifications/11111111-1111-1111-1111-111111111111/explore-dapr-with-meshery/_index.md
  content/certifications/11111111-1111-1111-1111-111111111111/explore-dapr-with-meshery/test.md
  content/certifications/_index.md
  go.mod
Labels: area/challenges, area/learning-paths

#128 [Automated] Update academy-theme to v0.3.4
  go.mod
  go.sum
Labels: pr/dependencies, area/challenges, area/learning-paths

#129 Update one question for the Course Test in Mastering Meshery – [Introduction-to-meshery]
  content/learning-paths/11111111-1111-1111-1111-111111111111/mastering-meshery/introduction-to-meshery/test.md
Labels: area/challenges, area/learning-paths
